body{
    margin: 0px;
}

.navbar{
    display: flex;
    background-color: black;
    height: 60px;
}

.navbar_logo{
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    padding-left: 20px;
    padding-right: 130px;
    padding-top: 23px;
    padding-bottom: 10px;
    text-decoration: none;
    border: none;
}

#ClosetBtn,
#CodiBtn,
#FavoriteBtn{
    font-size: 12pt;
    width: 27%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    background-color: black;
    color:white;
}

#ClosetBtn:hover{
    background-color: white;
    color:black;
}

#CodiBtn:hover{
    background-color: white;
    color:black;
}

#FavoriteBtn:hover{
    background-color: white;
    color:black;
}

.favoriteBox{
    padding: 5px;
    height: 500px;
    overflow: auto;
}

img{
    width: 70px;
    height: 80px;
    object-fit: cover;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
    margin: 5px;
}

.codiBox{
    background-color:white;
    overflow: auto;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
    width: 220px;
    float: left;
    margin: 20px;
}
.oneCodi{
    width: 180px;
    height: 270px;
    float: left;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}

.deleteButton{
    border: none;
    width: 160px;
    height: 50px;
    color: white;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    margin: 10px 30px;
}

.deleteButton:hover{
    background-color: rgb(252, 57, 57);
}
