body{
    display: grid;
    grid-template-areas: 
    'header header'
    'section side'
}

header{
    grid-area: header;
}

.navbar{
    display: flex;
    background-color: black;
}

.navbar_logo{
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border: none;
}

#ClosetBtn,
#CodiBtn,
#FavoriteBtn{
    width: 27%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    background-color: black;
    color:white;
}

#ClosetBtn:hover{
    background-color: white;
    color:black;
}

#CodiBtn:hover{
    background-color: white;
    color:black;
}

#FavoriteBtn:hover{
    background-color: white;
    color:black;
}

section{
    width:100%;
    margin: 0;
    grid-area: section;
}

.navButton{
    width: 100%;
    height: 60px;
    width: 0 auto;
    background-color: black;
    color: white;
    text-align: center;
    font-size: x-large;
    border: none;
}

/* Dropdown Button */
.dropbtn {
    background-color: #000000;
    color: white;
    width: 16vw;
    margin-top: 10px;
    margin-left: 10px;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 16vw;
    margin-left: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

h5{
    padding-top: 10px;
}

.closet-box{
    width: 100%;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
}


#clothBox{
    width: 10rem;
    height: 15rem;
}

#clothImage{
    width: 8rem;
    height: 9rem;
}

#clothBoxBody{
    width: 10rem;
    height: 6rem;
}

.Selectbtn{
    border: none;
    width: 80px;
    height: 30px;
    color: white;
    font-size: 10pt;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    margin: 5px 30px;
}

.Selectbtn:hover{
    background-color: rgb(58, 222, 93);
}

.Deletebtn{
    border: none;
    width: 80px;
    height: 30px;
    color: white;
    font-size: 10pt;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    margin: 5px 30px;
}

.Deletebtn:hover{
    background-color: rgb(252, 57, 57);
}

aside{
    width:300px;
    grid-area: side;
}
.addButton{
    border: none;
    margin-top: 15px;
    width: 95%;
    background-color: black;
    color: white;
    height: 50px;
    border-radius: 5px;
}

.addButton:hover{
    background-color:rgb(29, 141, 252);
}

.AddFavoriteBtn{
    border: none;
    margin-top: 15px;
    width: 50%;
    background-color: black;
    color: white;
    height: 50px;
    border-radius: 5px;
}

.favoriteBox{
    padding: 5px;
    overflow: auto;
}

img{
    width: 60px;
    height: 75px;
    object-fit: cover;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
    margin: 5px;
}

.codiBox{
    background-color:white;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
    width: 180px;
    height: 300px;
    float: left;
    margin: 20px;
}
.oneCodi{
    width: 180px;
    height: 270px;
    float: left;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}

.AddFavoriteBtn:hover{
    background-color:rgb(29, 141, 252);
}

.ChooseSeason{
    margin-top: 15px;
    margin-right: 20px;
}

.DIY-box{
    padding-inline-start: 70px;
    padding-inline-end: 70px;
}

