.navbar{
    display: flex;
    background-color: black;
}

.navbar_logo{
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border: none;
}


#ClosetBtn,
#CodiBtn,
#FavoriteBtn{
    width: 27%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
    background-color: black;
    color:white;
}

#ClosetBtn:hover{
    background-color: white;
    color:black;
}

#CodiBtn:hover{
    background-color: white;
    color:black;
}

#FavoriteBtn:hover{
    background-color: white;
    color:black;
}

#todays-look{
    background: white;
    margin: auto;
    padding: 20px;
    border: 15px solid lightgray;
}
#codi-list{
    margin: 10px;
    display:block;
    text-align: center;
    
}
img {
    border: 1px solid #ddd;
    padding: 5px;
    
}
.codi-h5{
    padding: 10px;
    margin-left: 300px;
    margin-top: 30px;
}
.codi-buttons{
    display: flex;
    padding: 10px;
    margin-left: 300px;
    margin-right: auto;
    
}
button{
    margin: 4px;
}
#codi-button-spring{
    top:50%;
    background-color:#eaadde;
    height: 30px;
    width: 100px;
    color: #fff;
    border:none;
    border-radius:10px;
    
    
}
#codi-button-summer{
    top:50%;
    background-color:#9fd4f5;
    height: 30px;
    width: 100px;
    color: #fff;
    border:none;
    border-radius:10px;
    
}
#codi-button-autumn{
    top:50%;
    background-color:#eaca7e;
    height: 30px;
    width: 100px;
    color: #fff;
    border:none;
    border-radius:10px;
    
}
#codi-button-winter{
    top:50%;
    background-color:#a8c8dc;
    height: 30px;
    width: 100px;
    color: #fff;
    border:none;
    border-radius:10px;
    margin-right:265px;
    
}
.menu-active {
    color: #0a0a23;
}
.codi-button1{
    top:50%;
    background-color:#0a0a23;
    height: 30px;
    width: 150px;
    color: #fff;
    border:none;
    border-radius:10px;
    margin-left:auto;
    margin-right:300px;
    margin-top: 15px;
}
.codi-button2{
    top:50%;
    background-color:#0a0a23;
    height: 30px;
    width: 150px;
    color: #fff;
    border:none;
    border-radius:10px;
    margin-left:auto;
    margin-right:300px;
}
#codi-button-yes{
    top:50%;
    background-color:#0a0a23;
    height: 30px;
    width: 100px;
    color: #fff;
    border:none;
    border-radius:10px;
    
    
}
#codi-button-no{
    top:50%;
    background-color:#0a0a23;
    height: 30px;
    width: 100px;
    color: #fff;
    border:none;
    border-radius:10px;
    margin-right:auto;
}